.root {
  --parent-height: 56px;
  --button-inner-padding: 0 17px;
  composes: button from "../../styles/_corner-button.module.css";
}

@media (min-width: 992px) {
  .root {
    --parent-height: 72px;
  }
}
