@import "./reset.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --black-40: #d0d0d8;
  --black-100: #1c1c21;
  --green-5: #e6faea;
  --green-100: #47d867;
  --orange-5: #fff3eb;
  --orange-80: #ffac70;
  --orange-100: #ff8b37;
  --orange-120: #e87928;
  --red-5: #fdeeed;
  --red-100: #ec6259;
  --white-100: #ffffff;

  /* Breakpoints */
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
}

.col-50 {
  width: 50%;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
