.root {
  --button-inner-padding: 0 41px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 16px 0;
}

@media (min-width: 1200px) {
  .root {
    --button-inner-padding: 0 69px;
  }
}
